.container{
    background-image: url("/img/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.hero{
    padding: 3rem 10rem;
    font-size: 40px;
    line-height: 7rem;
    text-align: center;
}
@media (max-width: 1024px) {
    .hero {
        padding: 3rem 5rem;
        font-size: 32px;
        line-height: 5rem;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .hero {
        padding: 2rem 1.5rem;
        font-size: 24px;
        line-height: 3rem;
    }
}