header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: center;
}
#nav-links{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    align-items: center;
}
#navLink{
    text-decoration: none;
    color: black;
}
.active{
    color: bisque !important;
}